* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.users {
	display: flex;
	flex: 30%;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
}

.user {
	font-family: sans-serif;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	width:200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.contactBtn {
	height: 25px;
	width: 60px;
	background: dodgerblue;
	color: white;
	margin-top:10px;
}